.fotos {
  margin-left: 50px !important;
  margin-top: 30px !important;
  height: 320px;
  width: 270px;
}

#FotoG {
  max-width: 100%;
  height: auto;
}

#slideshow {
  width: 100%;
}

#col1 {
  background-color: brown;
  height: 50px;
  width: 70px;
}

#col2 {
  background-color: green;
}

.percAcademico {
  margin-top: 100px;
  background-color: rgb(218, 218, 218);
  width: 100%;
  height: auto;
}
